// Colors
$dark-blue: #1f2937;
$very-dark-blue: #111827;
$blue: #4d9bff;
$very-light-blue: #4d9bff0d;
$light-blue: #4d9bff1a;

$black-color: #121212;
$white-color: #ffffff;
$light-white: #f9fafb;

// Light
$l-dark-gray: #4b5563;
$l-light-gray: #f3f4f6;

// Dark
$d-dark-gray: #374151;
$d-light-gray: #d1d5db;

// Border

// Border Radius
$radius-one: 18px;
$radius-two: 6px;
$radius-three: 8px;

// Shaodw
$shadow-one: 0 0 7px #1212122b;

// Transition
$transition: all ease 0.4s;
