// Import Variables
@use "../../sass/helpers/variables" as *;

.my-skills {
  &.dark > .taps > li {
    background-color: $d-dark-gray;
  }

  &.dark > .skills-content > .box {
    background-color: $very-dark-blue;
  }

  .skills-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 12px 10px;

    .box {
      height: fit-content;
      display: flex;
      gap: 14px;
      align-items: center;
      background-color: $light-blue;
      padding: 14px 18px;
      border-radius: 10px;
      border: 1px solid $blue;
      color: $blue;

      &:hover > span {
        color: $blue-2;
        transition: $transition;
        -webkit-transition: $transition;
        -moz-transition: $transition;
        -ms-transition: $transition;
        -o-transition: $transition;
      }

      svg {
        width: 20px;
        height: 20px;
        fill: $blue;
      }

      span {
        font-size: 14px;
        font-weight: 600;
        text-align: center;
      }
    }
  }
}
